{% extends "layout.html" %}

{% block title %}Poorer{% endblock %}

{% block content %}
<h1>Poorer</h1>

<p>
There is currently no pretty UI. But you can still manually change the URL in
order to visit the following endpoints:

<ul>
  <li>/year (example: <a href="/2017">/2017</a> )</li>
  <li>/year/month (example: <a href="/2017/1">/2017/01</a>)</li>
  <li><a href="/to">/to</a></li>
  <li>/to/recipient (example: /to/MyFavoritePub)</li>
</ul>
</p>
{% endblock content %}
