<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
{% block js_includes %}{% endblock js_includes %}
{% block css_includes %}{% endblock css_includes %}
  </head>

  <body>
{% block content %}{% endblock content %}
  </body>
</html>
