{% extends "layout.html" %}
{% block title %}To {{ recipient }}{% endblock %}

{% block content %}
<h1>To:</h1>
<ul>
{% for recipient in recipients|sort %}
<li><a href="to/{{ recipient | urlencode }}">{{ recipient }}</a></li>
{% endfor %}
</ul>
{% endblock content %}

