{% extends "layout.html" %}

{% block title %}To {{ recipient }}{% endblock %}

{% block js_includes %}
<script type=text/javascript src="{{
  url_for('static', filename='js/flotcharts/jquery.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/flotcharts/jquery.flot.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/flotcharts/jquery.flot.time.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/numeraljs/min/numeral.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/numeraljs/min/locales.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/locale.js') }}"></script>
{% endblock %}

{% block css_includes %}
<link rel="stylesheet" href="{{
  url_for('static', filename='css/spendings.css') }}"></link>
{% endblock css_includes %}

{% block content %}
<h1>To: {{ recipient }}</h1>

<form id="granularity">
    <input type="radio" name="granularity" value="year"/>Year
    <input type="radio" name="granularity" value="month"
           checked="checked"/>Month
</form>

<div id="tooltip" class="tooltip"></div>
<div id="chart-placeholder" class='to-chart'></div>

<script type="text/javascript">
    numeral.locale('{{ locale }}');

    /* First, generate statistics that can be used by Flotchart. */
    d = {'month': [], 'year': []}

    latest_year = Number.MAX_SAFE_INTEGER
    {% for grouper, spendings in spendings|groupby('year') %}
        /* Fill in an empty year. */
        for (year = latest_year+1; year < {{ grouper }}; year++) {
            d['year'].push([new Date(year, 0).getTime(), 0])
            for (month = 1; month <= 12; month++) {
                d['month'].push([new Date(year, month-1).getTime(), 0])
            }
        }

        /* Add the "real" stats returned by poorer. */
        d['year'].push([new Date({{ grouper }}, 0).getTime(),
                       {{ spendings|sum('amount') }}/100])
        latest_month = 0
        {% for grouper_month, list in spendings|groupby('month') %}
            /* Fill in the empty months. */
            for (month = latest_month+1; month < {{ grouper_month }}; month++) {
                d['month'].push([new Date({{ grouper }}, month - 1).getTime(), 0])
            }

            /* Again, this is "real" data. */
            d['month'].push([new Date({{ grouper }}, {{ grouper_month - 1 }}).getTime(),
                           {{ list|sum('amount') }}/100])
            latest_month = {{ grouper_month }}
        {% endfor %}

	/* Let's add "0" for every month until the end of the year. */
	var today = new Date();
	var mm = today.getMonth() + 1;
	var yyyy = today.getFullYear();
        for (month = latest_month+1; month < 13; month++) {
            /* Let's not go into the future, though. */
            if (yyyy <= {{ grouper }} && mm <= month) {
                break;
            }
            d['month'].push([new Date({{ grouper }}, month - 1).getTime(), 0])
        }
        latest_year = {{ grouper }}
    {% endfor %}

    function draw_chart(stats, granularity) {
        if (granularity == 'month') {
            timeformat = "%b %Y"
        } else if (granularity == 'year') {
            timeformat = "%Y"
        } else {
            console.error("Invalid granularity: " + granularity)
        }

        $.plot('#chart-placeholder', [stats[granularity]],{
            xaxis: {
                mode: "time",
                timeformat: timeformat,
                minTickSize: [1, granularity]
            },
            grid: {
                hoverable: true
            },
            yaxis: {
                min: 0
            },
            lines: {
                show: true,
                fill: false
            },
            points: {
                show: true
            },
        });

        /* Handle the tooltip when hovering. */
        $('#chart-placeholder').bind("plothover", function (event, pos, item) {
            if (item) {
                var d = new Date(item.datapoint[0])
                amount = item.datapoint[1]
                if (granularity == 'month') {
                    s = d.getMonth()+1 + "/" + d.getFullYear()
                } else if (granularity == 'year') {
                    s = d.getFullYear()
                } else {
                    console.error("Invalid granularity: " + granularity)
                }
                s+= " : " + locale_currency_str(amount)
                $("#tooltip").html(s)
                    .css({top: item.pageY-25, left: item.pageX-40})
                    .fadeIn(200);
            } else {
                $("#tooltip").hide();
            }
        });
    }

    function redraw() {
        draw_chart(d, $("#granularity input:checked").val());
    }
    $("#granularity").change(redraw);
    $(window).resize(redraw);
    $("#granularity").change();
</script>
{% endblock content %}
