table {
  font-size: smaller;
}

table td.legendColorBox {
  min-width: 20px;
}

table td.label {
  padding-right: 10px;
}

table td.percent,th.percent,td.price,th.price {
  text-align: right;
}

div.container {
  min-height: 400px;
  padding: auto;
  display:inline-flex;
}

div.pie-chart {
  width: 500px;
  height: 400px;
  margin: auto;
  float:left;
}

div.to-chart {
  width: 100%;
  height: 400px;
  margin: auto;
  float: left;
}

div.pie-chart-legend {
  padding: 20px;
  margin: auto;
}

.etabs {
  margin: 0;
  padding: 0;
}

.tab {
  display: inline-block;
  background: #eee;
  border: solid 1px #999;
  border-bottom: none;
}

.tab a {
  font-size: 14px;
  line-height: 2em;
  display: block;
  padding: 0 10px;
  outline: none;
}

.tab a:hover {
  text-decoration: underline;
}

.tab.active {
  background: #fff;
  padding-top: 6px;
  position: relative;
  top: 1px;
  border-color: #666;
}

.tab a.active {
  font-weight: bold;
}

.tab-panel-container {
  width: 800px;
  background: #fff;
  border: solid #666 1px;
  padding: 10px;
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
}

.tooltip {
  position: absolute;
  display: none;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;
  opacity: 0.80;
}
